.sticky {
  position: relative;
  top: 0; }

footer {
  height: 6rem;
  background: #333;
  color: #fff; }

li {
  list-style-type: none;
}

#addButton {
  float:right;
}

/*#left-side {
  width: 250px;
  background-color: #grey;
  margin-left: auto;
  margin-right: auto;
}*/
#pokemonList {
  margin: 0px;
  width: 400px;
  background-color: grey;
  padding: 25px;
  vertical-align: center;
}

#results {
  margin:right;
  outline-style: inset ;
  width: 250px;

}
