#check {
  /*background-color: red;*/
}

#pokemonList {
  /*float: left;*/
  text-align: center;
  width: 100%;
  height:93vh;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ffcccc;
  /*border: 1px double black;*/

}
.picture {
  /*float:right;*/
  /*background-color: red;*/
}

.picture1 {
  display: block;
  margin: auto;
  height: 384px;
  width: 384px;
  padding: 70px 0px 60px 0px;;
}

#party {
  margin-top: 5em;

}

#pokeParty {
  color: black;
  pointer-events: none;
  cursor: default;
  font-size: 2em;
}

li {
  /*height: 1.5em;*/
  height: 25px;
  padding: 0;
  list-style-type: none;
}

li:hover {
  background-color: #ff8080;
}

#title {
  text-align: center;
  border-bottom: 1px solid black;
}

#actualPokemon {
  padding-left: 0px;
  margin: 0px;
}

.addButton {
  color: black;
}
#back {
  background-color: #d3d3d3;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0px;
}

#farSide {
  height: 100vh;
  /*background-color: blue;*/
}

#pictureStats {
  height: 61vh;
  /*background-color: green;*/
  width: 100%;
}

#party {
  height: 34vh;
  /*background-color: orange;*/
}

#descHelp {
  padding-top:20px;
  width:90%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 8px double black;
}

.hide {
  visibility:hidden;
}

.removeButton {
  float: right;
}

.yaa {
  border: 1px solid black;
  height: 50px;
  padding-left: 5px;
}
